@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


/* Estilos para larguras maiores (desktop - acima de 768px) */
@media screen and (min-width: 768px) {
  header, nav, main, footer {
    max-width: 960px;
    margin: 0 auto;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-right: 20px;
  }

  /* Estilos flexíveis para desktop */
  .div-com-nome,
  .top,
  .container-c
  .top1 {
    display: flex;
  }



/* PRIMEIRA DIV */
.text{
  font-size: 85px;
}
.custom-font{
  font-size: 40px;
}

.me{
  font-size: 25px;  
  width: 85%; 
}



  .top2 {
    display: flex;
    flex-direction: column;
  }
  .medi{
    font-size: 21px;
    width: 65%;
  }
  .custom{
    font-size: 32px;
  }
  .text1{
    font-size: 65px;
  }
 
  .mei{
    font-size: 65px;
  }
}


/* Estilos para celular (max-width: 1024px) */
@media (max-width: 1024px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  /* Texto menor para notebooks */
  body {
    font-size: 1.2vw; /* Texto proporcional e menor para notebooks */
  }




  .top1{
    
    font-size: 20px;
  }

/* PRIMEIRA DIV */
  .text2{
    font-size: 85px;
  }
  
  .text{
    font-size: 85px;
  }
  .custom-font{
    font-size: 40px;
  }

  .me{
    font-size: 25px;  
    width: 85%; 
  }

  

 /* SEGUNDA DIV */
  .text1{
    font-size: 90px;
  }
  .custom{
    font-size: 60px;
  }
  .medi{
    font-size: 20px;
    width: 76%;
  }
  

/* Responsividade dos DEPOIMENTOS */
@media (max-width: 768px) {
  .depoimento {
      flex: 1 1 45%; /* Depoimentos ficam lado a lado em telas menores */
      max-width: 100%;
  }
}

@media (max-width: 480px) {
  .depoimentos h2 {
      font-size: 1.5rem;
  }

  .depoimento {
      flex: 1 1 100%; /* Cada depoimento ocupa toda a largura da tela */
      padding: 10px;
      max-width: 100%;
  }

  .depoimento img {
      border-radius: 4px;
  }
}

  .text {
    font-size: 80px; /* Texto um pouco menor em notebooks */
  }
}

/* Estilos globais aplicáveis a todas as telas */
.div-com-nome,
.top,
.top2,
.custom,
.top3
.top4
.main {
  display: flex;
}

.top2,
.top3 {
  flex-direction: column;
}


div :id {
  width: 100px;
  height: 100px;
 display: inline-block;

 }
 

/*FINAL DA MIDIA*/



 body {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
 }

 header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
 }
 
 .container-a{
  background-color: rgb(255, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
 }
 
 
 .container-b{
 background-color: rgb(0, 42, 255);
 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

 }

 .nome{

  font-family: 'Archivo Black', sans-serif; 


 }

 .cor{
 background-color: #ffffff;

}

.text{
  font-size: 75px;
   margin-bottom: 150px;
   margin-left: -30px; 
  color:#ff456a;
   width: 60%;
   font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
 
}


.custom-font {
  margin-left: -30px; 
  margin-right: -33px;
  margin-top: 20px; 
  font-size: 35px;
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(224, 39, 95)
  
}

.me{
    margin-left: -28px;
    margin-right: -25px;
    margin-top: 4px; 
    font-size: 25px; 
    display: inline-block; 
    width: 80%; 
    font-family: "Baskervville SC", serif;
    font-weight: 550;
    font-style: normal;
    color: #5c1f00
}



.text1{
  font-size: 75px;
  margin-bottom: 100px;
  margin-top: 70px;
  margin-left: 35px; 
  color: #ff456a;
  width: 70%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.custom {
  margin-left: 40px; 
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #e6264c
}

.med{
  margin-left: 40px;
  margin-right: -25px;
  margin-top: 4px; 
  font-size: 13px; 
  display: inline-block; 
  width: 80%; 
  font-family: "Baskervville SC", serif;
  font-weight: 550;
  font-style: normal;
  color: #5c1f00

}

.medi{
  margin-left: 40px;
  margin-right: -25px;
  margin-top: 4px; 
  font-size: 25px; 
  display: inline-block; 
  width: 72%; 
  font-family: "Baskervville SC", serif;
  font-weight: 550;
  font-style: normal;
  color: #6b2400

}



.text2{
  font-size: 80px;
  margin-bottom: 150px;
  margin-left: -30px; 
  color:#ff456a;
  width: 80%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
   font-style: italic;

}

.custom1{
  margin-left: -20px; 
  font-size: 35px;
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #e6264c

}
.mee {
  margin-top: 75px;
  margin-left: -20px; 
  font-size: 65px;
  margin-bottom: 45px;
  font-family:"Rubik", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #e2163f
}

.ter {
  margin-left: -0px; 
  margin-top: -40px;
  font-size: 45px;
  width: 50%;
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-style: normal;
  color: #792800

}


.mei {
  margin-top: -25px;
  font-size: 8px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-style: italic;
  color: #272727
}

.top {
  margin-left: 15px;
   margin-top: 130px; 
   margin-bottom: 90px;
    color: #491a00; 
    font-size: 30px;
}


.stre {
  font-size: 70px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-style: italic;
  color: #272727
}

.main{
  display: inline-block;
  width: 85%;
  font-size: 20;
  margin-bottom: 100px;
  color:#6d2400 ;
}


/*DEPOIMENTOS*/
.depoimentos {
  text-align: center;
  padding: 50px 0;
}

.depoimentos h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.depoimentos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.depoimento {
  flex: 1 1 30%; /* Ajusta o tamanho dos depoimentos */
  max-width: 500px;
  min-width: 300px;
  border: 1px solid #fdc4c1;
  padding: 10px;
  background-color: rgb(255, 182, 182)c9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.depoimento img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


  .div-com-nome{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 101%;
  background-color: #ff5465;
  }

  .nome {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    }

  .md {
    font-family: "Wittgenstein", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 27px;
}

  .che {
    width: 70%; 
    font-family: "Anton SC", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 27px;
    color: #461800;
}

.container-c {
  padding: 70px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  justify-content: space-between;
 
}

.retiarar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden; /* Isso garante que qualquer excesso seja cortado */
}

.retiarar svg {
  display: block;
  width: 100%;
  height: auto;
}

img, p{

display: inline-block;

}
.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.container img {
  width: 30%; /* Ajuste a largura conforme necessário */
}

.opem{ 
  font-size: 55px;
  font-family:"Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #3D1501;
}

h1 {
   font-family: 'Archivo Black', sans-serif;
  
}

h2 {

   font-family: 'Roboto', sans-serif;
}


body {
 background-image: linear-gradient(#ffc7c7)


}

body {
  background: #e0e5ec;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.accordions{
  width:600px;
  margin:0 auto;
  border:1px solid #ccc;
}
.accordion-item input{
display:none;
}
.accordion-item label{
  display:block;
  border:1px solid #ccc;
  background:#e5e5e5;
  cursor:pointer;
padding:5px 3px;
}
.accordion-content{
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
[id^=accordion]:checked ~ .accordion-content {
  height: 100px;
}


/* Botão CSS */
.btn-14 {
  background: rgb(0, 0, 0);
  border: none;
  z-index: 1;
}


.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #ff0011;
  background-image: linear-gradient(315deg,  #ff6d7c 0%,  #ff707e );
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}



.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

body {
   background: #e0e5ec;
 }
 
 button {
   margin: 20px;
 }
 .custom-btn {
   width: 650px;
   height: 180px;
   color: #fff;
   border-radius: 50px;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
 }
 
 .btn-14 {
   background: #ff8593;
   border: none;
   z-index: 1;
 }
 .btn-14:after {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   top: 0;
   left: 0;
   z-index: -5;
   border-radius: 40px;
   background-color: #fd9d6d;
   background-image: linear-gradient(315deg,  #ff808c #ff808c,  #ff808c);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   transition: all 0.3s ease;
 }
 .btn-14:hover {
   color: #000000;
 }
 .btn-14:hover:after {
   top: auto;
   bottom: 0;
   height: 100%;
 }
 .btn-14:active {
   top: 2px;
 }
 
 .btn-16:hover {
   color: #000;
 }
 .btn-16:hover:after {
   left: auto;
   right: 0;
   width: 100%;
 }
 .btn-16:active {
   top: 2px;
 }

 video {

  border-radius: 10px;

 }
